.documentation{

    max-width:1000px;
    margin:auto;

    padding:40px;

    line-height:1.8;
}

.documentation h1{

    text-align:center;

    margin-bottom:40px;

    color:#4f46e5;
}

.documentation section{

    background:white;

    margin-bottom:25px;

    padding:25px;

    border-radius:10px;

    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.documentation h2{

    color:#4f46e5;
}

.documentation ul{

    padding-left:20px;
}

.documentation pre{

    background:#282c34;

    color:white;

    padding:20px;

    border-radius:10px;

    overflow:auto;
}

.documentation section ul {
    padding-left: 20px;
    line-height: 2;
}

.documentation section p {
    color: #555;
    line-height: 1.8;
    text-align: justify;
}

.documentation strong {
    color: #4f46e5;
}